.root {
  width: 90vw;
}
.timeline{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.timeline_left{

}

.timeline_right{
  flex-grow: 1;
}

.process_connection{
  height: 16px;
}

.process {
  display: flex;
  flex-direction: row;
  height: 24px;
}
.message {
  width: 20%;
  min-width: 200px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4px;
}

.source_code_position{
  width: 24px;
  
  display: flex;
  align-items: center;
  justify-content:center;
}

.layer {
  
  display: flex;
  flex-direction: column;
}

.message_error{
  background-color: rgb(200, 50, 10);
}

.message_warning{
  background-color: rgb(200, 50, 10);
}

.message_language_error{
  background-color: rgb(200, 50, 10);
}

.message_text {
}

.layer_horizontal{
  display: flex;
  height: 100%;
}
.layer_unit {
  aspect-ratio: 1;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.layer_unit_station{
  border-radius: 50%;
  height: 50%;
  aspect-ratio: 1;
  border: 4px solid;
}



.layer_unit_station_output {
  border-color: rgb(200, 200, 10);
}
.layer_unit_station_input {
  border-color: rgb(200, 50, 10);
}
.layer_unit_station_logic{
  border-color: rgb(50, 200, 10);
}
