.root {
  width: 90vw;
}
.process {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.message {
  /* width: 20%; */
  width: 20%;
  min-width: 200px;
}
.layer {
  flex-grow: 1;
  display: flex;
}
.message_text {
}
.layer_unit {
  aspect-ratio: 1;
  height: 48px;
}
.layer_unit_station_output,
.layer_unit_station_input {
  border-radius: 50%;
  height: 30%;
  aspect-ratio: 1;
  border: 4px solid;
}

.layer_unit_station_output {
  border-color: rgb(200, 200, 10);
}
.layer_unit_station_input {
  border-color: rgb(200, 50, 10);
}
