.controller_container {
  width: 100%;
  height: 84px;

  background-color: cornflowerblue;
  right: 0;
  bottom: 0;
}
.controller_title {
  width: 100%;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}
.controller_body {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.controller {
  width: 264px;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.chevron_out {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chevron {
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controller .button_run,
.controller .button_back,
.controller .button_next {
  width: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: none; /* 枠線をなくす */
}
.button_run_title,
.button_back_title,
.button_next_title {
  color: white;
  width: 60px;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  margin: 0;
}

.controller .button_run:hover,
.controller .button_back:hover,
.controller .button_next:hover {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: none; /* 枠線をなくす */
}
