.timeline {
  width: 100%;
  /* height: 100%; */
  overflow: scroll;
  position: static;

  flex: 1;
  min-height: 0;
}

.timeline_scroll {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.timeline_left {
  width: 300px;
}
.timeline_right {
  flex: 1;
  min-width: 0;
  height: 100%;
}

.timeline_right_scroll {
  width: fit-content;
}

.process_connection {
  height: 12px;
}

.process_left {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 24px;
}
.process_right {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 24px;
}
.message {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4px;
  padding-right: 4px;

  overflow: hidden;
}

.source_code_position {
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.layer {
  width: 100%;
}

.message_error {
  background-color: rgba(200, 50, 10, 0.4);
}

.message_warning {
  background-color: rgba(200, 200, 10, 0.4);
}

.message_language_error {
  background-color: rgba(200, 150, 100, 0.4);
}

.message_order_text {
  min-width: 24px;
  margin-right: 4px;
}

.message_line_text {
  min-width: 24px;
  margin-left: 4px;
  margin-right: 4px;
}
.message_column_text {
  min-width: 24px;
  margin-left: 4px;
  margin-right: 4px;
}
.message_text {
}

.layer_horizontal {
  min-width: 0;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 0;
}

.layer_unit {
  aspect-ratio: 1;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.layer_unit_station {
  border-radius: 50%;
  height: 50%;
  aspect-ratio: 1;
  border: 4px solid;
}

.layer_unit_station_ouput {
  border-color: rgb(200, 200, 10);
}
.layer_unit_station_input {
  border-color: rgb(200, 50, 10);
}
.layer_unit_station_logic {
  border-color: rgb(50, 200, 10);
}
.layer_unit_station_true {
  border-color: rgb(50, 200, 10);
}
.layer_unit_station_false {
  border-color: rgb(200, 50, 10);
}

.timeline .timeline_hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.timeline .linking {
  background-color: rgba(0, 0, 0, 0.1);
}
