.timeline {
  display: flex;
  flex-direction: row;
  overflow: scroll;

  width: 100%;
  height: 100%;

  position: static;
}

.timeline_scroll {
  /* width: 100%; */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.timeline_left {
  width: 60%;
  min-width: 200px;
}

.timeline_right {
  flex-grow: 1;
}

.process_connection {
  height: 12px;
}

.process {
  display: flex;
  flex-direction: row;
  height: 24px;
}
.message {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4px;
  padding-right: 4px;

  overflow: hidden;
}

.source_code_position {
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.layer {
  display: flex;
  flex-direction: column;
}

.message_error {
  background-color: rgb(200, 50, 10);
}

.message_warning {
  background-color: rgb(200, 50, 10);
}

.message_language_error {
  background-color: rgb(200, 50, 10);
}

.message_text {
}

.layer_horizontal {
  display: flex;
  height: 100%;
}
.layer_unit {
  aspect-ratio: 1;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.layer_unit_station {
  border-radius: 50%;
  height: 50%;
  aspect-ratio: 1;
  border: 4px solid;
}

.layer_unit_station_ouput {
  border-color: rgb(200, 200, 10);
}
.layer_unit_station_input {
  border-color: rgb(200, 50, 10);
}
.layer_unit_station_logic {
  border-color: rgb(50, 200, 10);
}
.layer_unit_station_true {
  border-color: rgb(50, 200, 10);
}
.layer_unit_station_false {
  border-color: rgb(200, 50, 10);
}

.timeline .timeline_hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.timeline .linking {
  background-color: rgba(0, 0, 0, 0.1);
}
